body{
    
    background-color: #111;
}

h1{
    font-family: verdana;
    font-size: 35px;
    cursor: pointer;
    white-space: nowrap;
    
    margin:auto;
    position: absolute;
    top: 10%; left:12%;
    transform:translate(-50%,-50%);
   
    
}

h1 span{
    display: inline-block;
    overflow: hidden;
    transition: all 0.3s ease-out;
    color:darkgrey;
    
}

h1 span:nth-child(even){
    color: whitesmoke;
    letter-spacing:-40px;
    
}
h1:hover span:nth-child(even){
    letter-spacing: 0;
    
}
h1:hover span:nth-child(2){
    transition-delay:0s;
    
}

h1:hover span:nth-child(4){
    transition-delay: 0.5s;
    
}

h1:hover span:nth-child(6){
    transition-delay: 1s;
    
}

h1:hover span:nth-child(8){
    transition-delay: 1.5s;
    
}























